
body {
    font-size: 16px;
}

.navbar-default {
    background-color: rgba(248,248,248,.96);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    font-size: 20px;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-brand>img {
    display: inline-block;
}

.dropdown:hover,
.navbar-nav li:hover {
    background-color: #fff;
}
.dropdown-menu {
    background-color: #fff;
    border: 0;
}

.image-bg-fluid-height {
    padding: 100px 0;
}

.image-bg-fixed-height {
    background: url('../images/img02.JPG') no-repeat center center scroll;
    height: 450px;
}

.img-center {
    margin: 0 auto;
}

.panel-body {
  padding: 5px;
}

.panel {
    background-color: #eee;
}

.entry-title,
.page-header {
    font-size: 3em;
    margin: 30px 0;
}

/*.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}*/

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .entry-title {
        font-size: 2em;
    }
}


pre {
  display: inline-block;
}

/**** iframe *****************************************************************/
iframe {
    box-shadow: 0 2px 4px #999;
}

/**** Tables *****************************************************************/
table {
    border-collapse: collapse;
    padding: 0;
    margin-bottom: 2em;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-spacing: 0;
    box-shadow: 0 2px 4px #999;
}
table th {
    padding: .2em 1em;
    background-color: #eee;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd; }
table tr {
    border-top: 1px solid #ccc;
    background-color:#fff;
    margin: 0;
    padding: 0 }
table td {
    padding: .2em 1em;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd; }
table tr th,table tr td {
    border: 1px solid #ccc;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em; }
